.excel_row_col_div {
  border: 0.1px solid #d1d1d1;
  display:flex;
  font-size:12px;
  padding:1px;
  height:15px;
  min-width:60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.excel_row_col_div:hover {
  border-color: red;
}
.excel_row {
  display:flex;
  flex-direction:row;
  flex-wrap:no-wrap;
}
#excel_top_border {
  display:flex;
  background-color: white;
  z-index: 1;
  position: sticky;
  top: 0;
  flex-direction:row;
  flex-wrap:no-wrap;
}
.excel_top_border_col {
  border: 0.1px solid #d1d1d1;
  display:flex;
  font-size:12px;
  padding:1px;
  height:15px;
  min-width:60px;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  justify-content:center;
  align-items:center
}
.excel_left_border_divide:hover {
  cursor: row-resize;
  border: 2px solid red;
  z-index: 2;
}
#excel_secondary_parent_container {
  width:100%;
  display:flex;
  flex-direction:row
}
#excel_parent_container {
  width:90vw;
  height:80vh;
  overflow:auto;
  display: flexbox;
}
.context_container {
  /* position: static; */
  width: 50px;
  margin-left: 1px;
  display: inline-block;
  overflow: visible;
  flex-direction: column;
}
#excel_left_border {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  width: 62px;
  position: sticky;
  left: 0;
  flex-direction:column;
  flex-wrap:no-wrap;
  margin-top: 10px;
}
.excel_left_border_col {
  border: 0.1px solid #d1d1d1;
  display:flex;
  font-size:12px;
  padding:1px;
  height:15px;
  width:60px;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  justify-content:center;
  align-items:center
}
.excel_left_border_divide {
  height: 1px;
  margin-top: -1px;
}